{% extends "layout.html" %}

{% block content %}
<div class="row">
    <form method="post" action="{{ app.request.baseUrl }}/checklists/create" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="checklist-name" type="text" name="checklist[name]" class="validate">
                <label for="checklist-name" class="teal-text">Name</label>
            </div>

            <div class="input-field col s12 step-input">
                <input id="checklist-step" type="text" name="checklist[steps][]" class="validate" placeholder="Step description (enter to create a new step)">
                <label for="checklist-step" class="teal-text">Step Description</label>
            </div>

            <div class="input-field col s12">
                <button type="submit" class="btn right teal">Create</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/template" id="step-input-template">
<div class="input-field col s12 step-input teal-text">
    <input id="checklist-step" type="text" name="checklist[steps][]" class="validate" placeholder="Step description (enter to create a new step)">
    <label for="checklist-step">Step Description</label>
</div>
</script>

<script type="text/javascript">
$(document).ready(function() {
    $(document).on('keydown', '.step-input:last input', function(event) {
        if (event.which == 13) {
            event.preventDefault();
            createNewStepInput();
        }
    });
});

function createNewStepInput() {
    var html = $('#step-input-template').html(),
        input = $(html);

    $('.step-input:last').after(input);
    $('.step-input:last input').focus();
}
</script>
{% endblock scripts %}
